*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgba(13, 13, 141, 0.363);
}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: rgb(23, 23, 163);
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    a{
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 800;
    }
}

.inicio, .projetos,.redes-sociais,.sobre{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.inicio{
    flex-direction: column;
    img{
        height: 200px;
        width: 200px;
        border: 2px solid blue;
        border-radius: 50%;
        box-shadow: 2px 2px 10px black;
    }

    h2,h3,p{
        text-shadow: 2px 2px 10px black;
    }

    h2{
        margin: 10px;
        font-size: 40px;
    }
    h3{
        margin: 10px;
        font-size: 25px;
    }
    p{
        font-weight: 600;
    }


}